<div class="card border-info" style="margin-top: 50px">
  <h6 class="card-header no-anchor bg-info text-white" data-toc-skip>想了解更多 Markdown 技巧？</h6>
  <div class="card-body">
    <p class="card-text">
      现在不要停下来！在下面输入你的电子邮件地址，以通过电子邮件接收新的 Markdown 教程。我们不会发送垃圾邮件！</p>

    <form action="https://markdownguide.us13.list-manage.com/subscribe/post?u=844e74c82a5a1db84f93aef40&amp;id=9fa3356008" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
      <div class="form-group" style="margin-top: 20px">
        <input type="email" class="form-control form-control-lg" name="EMAIL" id="mce-EMAIL" placeholder="你的电子邮件地址" /><input type="hidden" value="1" name="embed" />
      </div>
      <button type="submit" class="btn btn-success">保持关注</button>
    </form>
  </div>
</div>